digitalocean_token = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
nombre_llave_ssh = "XXXXXXXXXXXXXXXXXXX"
domain_name = "XXXXXXXXXXXXXXXXXXXX"
record_name = "XXXXXXXXXXXXXXXXXXXX"